@mixin btn {
    background-color: $blue;
    font-size: $font-small;
    border: 2px solid $blue;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s linear;

    &:hover {
        background-color: transparent;
        border-color: white;
    }
}

@mixin title($color) {
    position: relative;
    font-size: 26px;
    text-align: center;

    &::after {
        position: absolute;
        left: 50%;
        bottom: -40%;
        content: "";
        width: 30px;
        height: 3px;
        background-color: $color;
        transform: translateX(-50%);
    }
}

@mixin sub-title($color) {
    position: relative;
    font-size: 20px;
    text-align: center;

    &::after {
        position: absolute;
        left: 50%;
        bottom: -40%;
        content: "";
        width: 30px;
        height: 2px;
        background-color: $color;
        transform: translateX(-50%);
    }
}