//colors
$blue:#0154f7;
$blue-second:#3b7eff;
$gray:#4c4c4d;
$gray-second:#587EAC;
$red:#ef5b51;
$orange:#ff6f00;

//font-size
$font-mega: 67px;
$font-big: 26px;
$font-medium: 20px;
$font-standard: 15px;
$font-small: 13px;