.about {
    margin: 0 20px;
    overflow: hidden;

    &__container {
        max-width: 1200px;
        margin: 0 auto;


        @media (min-width:576px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__box {
        @media (min-width:576px) {
            width: 65%;
        }

        @media (min-width:992px) {
            width: 50%;
        }
    }

    &__heading {
        @include heading($orange);
    }

    &__title {
        color: $orange;
        font-size: $font-medium;
        padding-top: 20px;
        text-align: center;

        @media (min-width:576px) {
            text-align: left;
        }
    }

    &__text {
        color: $gray;
        text-align: justify;
        padding-top: 10px;

        @media (min-width:576px) {
            text-align: left;
        }
    }

    &__btn {
        display: block;
        @include btn($orange);
        margin: 25px auto;

        @media (min-width:576px) {
            margin: 25px 0;
        }
    }

    &__img-box {
        text-align: center;
    }

    &__img {
        width: 60%;

        @media (min-width:576px) {
            width: 55%;
        }
    }
}