.contact {
    background-image: url(../../src/order-bg.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        margin: 0 20px;
    }

    &__heading {
        @include heading(white);
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        max-width: 600px;
        margin: 0 auto;
    }

    &__input,
    &__textarea,
    &__select,
    &__option {
        width: 100%;
        margin-bottom: 12px;
        padding: 5px;
        height: 40px;
        font-size: 20px;
        color: $gray;

        &:focus {
            outline: none;
            border: 1px solid $orange;
        }

        &::placeholder {
            color: $gray;
        }

        @media (min-width:576px) {
            width: 48%;
        }
    }

    &__textarea {
        resize: none;
        height: 150px;
        width: 100%;
    }

    &__btn {
        margin: 20px auto 0;
        @include btn($orange);
    }

}