.dishes {
    margin: 100px 20px;

    &__heading {
        @include heading($orange);
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__element {
        margin: 15px 15px 15px 0;
        margin-right: 10px;
        color: $gray;
        font-size: 18px;
        cursor: pointer;

        &.active {
            color: $orange;
        }
    }

    &__element:nth-child(5) {
        margin-right: 0;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 30px auto;
        min-height: 660px;
    }

    &__dish {
        position: relative;
        width: 300px;
        height: 200px;
        box-shadow: 0 0 15px 2px gray;
        padding: 5px;
        margin: 10px;

        @media (min-width:576px) {
            width: 45%;
        }

        @media (min-width:768px) {
            width: 32%;
            height: 250px;
        }

        @media (min-width:992px) {
            width: 30%;
        }

    }

    &__img {
        width: 100%;
        height: 100%;
        background-image: url(../../src/sandwich1.jpg);
        background-size: cover;
    }

    &__dish-name {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: white;
        width: 100%;
        font-weight: bold;
        padding: 5px;
        text-align: center;
    }
}