.footer {
    background-color: $gray-second;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 200px;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../../src/shape-top.png);
        background-repeat: no-repeat;
        width: 1920px;
        height: 180px;
        top: 0;
        left: 0;
    }

    &__span {
        color: $orange;
        font-weight: bold;
    }
}