.header {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    &__line {
        text-align: center;
        padding: 10px 0;
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;

        @media (min-width:400px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $padding-mobile;
        }

        @media (min-width:823px) {
            padding: 15px 20px;
        }
    }

    &__logo-link {
        text-decoration: none;
        color: $orange;
        font-size: 20px;

        @media (min-width:823px) {
            font-size: 24px;
        }
    }

    &__phone {
        color: #666;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;

        @media (min-width:400px) {
            margin: 0;
        }

        @media (min-width:823px) {
            font-size: 22px;
        }
    }

    &__main {
        position: relative;
        background-image: url('/src/bg.jpg');
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    &__content {
        color: white;
        padding: 170px 20px 0;
        text-align: center;

        @media (width:280px) {
            padding: 20px 20px 0;
        }


        @media (width:320px) {
            padding: 120px 20px 0;
        }

        @media (min-width:400px) {
            padding: 90px 20px 0;
        }

        @media (width:568px) and (orientation:landscape) {
            padding: 20px 20px 0;
        }

        @media (min-width:768px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            padding: 0;
            width: 550px;
        }
    }

    &__title {
        font-size: $font-big;
        font-weight: normal;

        @media (min-width:768px) {
            font-weight: bold;
        }
    }

    &__title--orange {
        color: $orange;
    }

    &__text {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    &__btn {
        @include btn(white);
    }

    &__clouds {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(../../src/shape-bottom.png);
        height: 119px;
        width: 1920px;
        animation: clouds 20s linear infinite;
        overflow-y: hidden;
    }

    @keyframes clouds {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: 1920px;
        }
    }
}