.nav {
    max-width: 1920px;
    z-index: 2;

    @media (min-width:1200px) {
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 45px;
            width: 1920px;
            height: 1px;
            background-color: $gray;
        }
    }

    @media (min-width:1920px) {
        left: 50%;
        transform: translateX(-50%);
    }


    &__container {
        max-width: 1750px;
        margin: 0 auto;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 15px 0;
        z-index: 2;
    }

    &__line {
        display: none;

        @media (min-width:1200px) {
            position: relative;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }

        .nav__addresses {
            display: flex;
            font-size: $font-small;
        }

        .nav__address {
            margin-right: 20px;

            i {
                margin-right: 2px;
            }
        }

        .nav__address:nth-child(1),
        .nav__address:nth-child(2) {
            cursor: pointer;

            &:hover {
                color: $blue-second;
            }

        }

        .nav__socials {
            i {
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: $blue-second;
                }
            }
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
        color: $gray;

        @media (min-width:1200px) {
            color: white;
        }
    }

    &__phone {
        display: none;

        @media (min-width:1200px) {
            display: block;
            color: white;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                color: $blue-second;
            }

            i {
                color: $blue-second;
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }

    &__burger {
        font-size: 30px;
        color: $gray;
        cursor: pointer;

        @media (min-width:1200px) {
            display: none;
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        height: 100vh;
        background-color: white;
        padding: 0 20px;
        transform: translateX(-100%);
        z-index: 2;
        transition: .3s linear;
        overflow-y: scroll;

        @media (min-width:768px) and (orientation:portrait) {
            width: 40vw;
        }

        @media (min-width:992px) {
            width: 30vw;
        }

        @media (min-width:1200px) {
            position: static;
            width: auto;
            height: auto;
            overflow-y: unset;
            background-color: transparent;
            transform: translateX(0);
        }
    }

    &__menu--active {
        transform: translateX(0);
    }

    &__logo--menu {
        font-size: 24px;
        font-weight: bold;
        color: $gray;
        line-height: 76px;

        @media (min-width:1200px) {
            display: none;
        }
    }


    &__list {
        list-style: none;
        margin-top: 20px;

        @media (min-width:1200px) {
            display: flex;
            margin: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: black;
        padding: 8px 0;
        font-size: $font-medium;

        &:hover {
            color: $blue-second;
        }

        @media (min-width:1200px) {
            color: white;
            margin-right: 20px;
            font-size: 20px;
            border-bottom: 2px solid transparent;

            &:hover {
                color: white;
                border-color: $blue-second;
            }
        }
    }


}

.blure {
    transition: .3s linear;
    cursor: pointer;
}

.blure--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    z-index: 1;
}

.scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    margin: 0;
    padding: 15px;
    z-index: 2;

    .nav__phone {
        color: black;
    }

    .nav__link {
        color: black;
    }

    .nav__logo {
        color: black;
    }
}